In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv("dataset_Facebook.csv")
data

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [5]:
data.isnull().sum()

Page total likes                                                       0
Type                                                                   0
Category                                                               0
Post Month                                                             0
Post Weekday                                                           0
Post Hour                                                              0
Paid                                                                   1
Lifetime Post Total Reach                                              0
Lifetime Post Total Impressions                                        0
Lifetime Engaged Users                                                 0
Lifetime Post Consumers                                                0
Lifetime Post Consumptions                                             0
Lifetime Post Impressions by people who have liked your Page           0
Lifetime Post reach by people who like your Page                       0
Lifetime People who have liked your Page and engaged with your post    0
comment                                                                0
like                                                                   1
share                                                                  4
Total Interactions                                                     0
dtype: int64

In [6]:
data=data.dropna()

In [7]:
data.isnull().sum()

Page total likes                                                       0
Type                                                                   0
Category                                                               0
Post Month                                                             0
Post Weekday                                                           0
Post Hour                                                              0
Paid                                                                   0
Lifetime Post Total Reach                                              0
Lifetime Post Total Impressions                                        0
Lifetime Engaged Users                                                 0
Lifetime Post Consumers                                                0
Lifetime Post Consumptions                                             0
Lifetime Post Impressions by people who have liked your Page           0
Lifetime Post reach by people who like your Page                       0
Lifetime People who have liked your Page and engaged with your post    0
comment                                                                0
like                                                                   0
share                                                                  0
Total Interactions                                                     0
dtype: int64

In [8]:
data.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [10]:
data.tail()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
494,85093,Photo,3,1,7,10,0.0,5400,9218,810,756,1003,5654,3230,422,10,125.0,41.0,176
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 495 entries, 0 to 498
Data columns (total 19 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Page total likes                                                     495 non-null    int64
 1   Type                                                                 495 non-null    object
 2   Category                                                             495 non-null    int64
 3   Post Month                                                           495 non-null    int64
 4   Post Weekday                                                         495 non-null    int64
 5   Post Hour                                                            495 non-null    int64
 6   Paid                                                                 495 non-null    float64
 7   Lifetime Post Total Reach                                            495 non-null    int64
 8   Lifetime Post Total Impressions                                      495 non-null    int64
 9   Lifetime Engaged Users                                               495 non-null    int64
 10  Lifetime Post Consumers                                              495 non-null    int64
 11  Lifetime Post Consumptions                                           495 non-null    int64
 12  Lifetime Post Impressions by people who have liked your Page         495 non-null    int64
 13  Lifetime Post reach by people who like your Page                     495 non-null    int64
 14  Lifetime People who have liked your Page and engaged with your post  495 non-null    int64
 15  comment                                                              495 non-null    int64
 16  like                                                                 495 non-null    float64
 17  share                                                                495 non-null    float64
 18  Total Interactions                                                   495 non-null    int64
dtypes: float64(3), int64(15), object(1)
memory usage: 77.3+ KB

In [12]:
data.columns

Index(['Page total likes', 'Type', 'Category', 'Post Month', 'Post Weekday',
       'Post Hour', 'Paid', 'Lifetime Post Total Reach',
       'Lifetime Post Total Impressions', 'Lifetime Engaged Users',
       'Lifetime Post Consumers', 'Lifetime Post Consumptions',
       'Lifetime Post Impressions by people who have liked your Page',
       'Lifetime Post reach by people who like your Page',
       'Lifetime People who have liked your Page and engaged with your post',
       'comment', 'like', 'share', 'Total Interactions'],
      dtype='object')

## Creating Subsets

In [14]:
data_colm1= data[['Page total likes','Category','Post Month','Paid','share']]
data_colm1

     Page total likes  Category  Post Month  Paid  share
0              139441         2          12   0.0   17.0
1              139441         2          12   0.0   29.0
2              139441         3          12   0.0   14.0
3              139441         2          12   1.0  147.0
4              139441         2          12   0.0   49.0
..                ...       ...         ...   ...    ...
494             85093         3           1   0.0   41.0
495             85093         3           1   0.0   26.0
496             81370         2           1   0.0   22.0
497             81370         1           1   0.0   18.0
498             81370         3           1   0.0   38.0

[495 rows x 5 columns]

In [18]:
#Creating row subset

data_row= data.iloc[[1,4,5,7,9]]
data_row

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
5,139441,Status,2,12,1,9,0.0,10472,20849,1191,1073,1389,16034,7852,1016,1,152.0,33.0,186
7,139441,Photo,3,12,7,9,1.0,13720,24137,537,232,305,19728,11056,422,0,325.0,14.0,339
9,139441,Photo,3,12,6,10,0.0,4694,8668,280,183,250,4309,2324,199,3,113.0,26.0,142

In [21]:
data_row2=data.iloc[[2,8,10]]
data_row2

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
8,139441,Status,2,12,7,3,0.0,11844,22538,1530,1407,1692,15220,7912,1250,0,161.0,31.0,192
10,139441,Status,2,12,5,10,0.0,21744,42334,4258,4100,4540,37849,18952,3798,0,233.0,19.0,252

In [24]:
conc= pd.concat([data_row,data_row2])
conc

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
5,139441,Status,2,12,1,9,0.0,10472,20849,1191,1073,1389,16034,7852,1016,1,152.0,33.0,186
7,139441,Photo,3,12,7,9,1.0,13720,24137,537,232,305,19728,11056,422,0,325.0,14.0,339
9,139441,Photo,3,12,6,10,0.0,4694,8668,280,183,250,4309,2324,199,3,113.0,26.0,142
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
8,139441,Status,2,12,7,3,0.0,11844,22538,1530,1407,1692,15220,7912,1250,0,161.0,31.0,192
10,139441,Status,2,12,5,10,0.0,21744,42334,4258,4100,4540,37849,18952,3798,0,233.0,19.0,252

In [27]:
merged = pd.merge(data_row,data_row2,on='Page total likes')
merged

#  merge() is used to combine DataFrames based on a common column or index, performing various types of joins.
# On the other hand, concat() is used to concatenate DataFrames either vertically or horizontally,
# stacking them on top of each other or side by side.

,Page total likes,Type_x,Category_x,Post Month_x,Post Weekday_x,Post Hour_x,Paid_x,Lifetime Post Total Reach_x,Lifetime Post Total Impressions_x,Lifetime Engaged Users_x,...,Lifetime Engaged Users_y,Lifetime Post Consumers_y,Lifetime Post Consumptions_y,Lifetime Post Impressions by people who have liked your Page_y,Lifetime Post reach by people who like your Page_y,Lifetime People who have liked your Page and engaged with your post_y,comment_y,like_y,share_y,Total Interactions_y
0,139441,Status,2,12,3,10,0.0,10460,19057,1457,...,177,113,154,2812,1503,132,0,66.0,14.0,80
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,...,1530,1407,1692,15220,7912,1250,0,161.0,31.0,192
2,139441,Status,2,12,3,10,0.0,10460,19057,1457,...,4258,4100,4540,37849,18952,3798,0,233.0,19.0,252
3,139441,Photo,2,12,2,3,0.0,7244,13594,671,...,177,113,154,2812,1503,132,0,66.0,14.0,80
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,...,1530,1407,1692,15220,7912,1250,0,161.0,31.0,192
5,139441,Photo,2,12,2,3,0.0,7244,13594,671,...,4258,4100,4540,37849,18952,3798,0,233.0,19.0,252
6,139441,Status,2,12,1,9,0.0,10472,20849,1191,...,177,113,154,2812,1503,132,0,66.0,14.0,80
7,139441,Status,2,12,1,9,0.0,10472,20849,1191,...,1530,1407,1692,15220,7912,1250,0,161.0,31.0,192
8,139441,Status,2,12,1,9,0.0,10472,20849,1191,...,4258,4100,4540,37849,18952,3798,0,233.0,19.0,252
9,139441,Photo,3,12,7,9,1.0,13720,24137,537,...,177,113,154,2812,1503,132,0,66.0,14.0,80
10,139441,Photo,3,12,7,9,1.0,13720,24137,537,...,1530,1407,1692,15220,7912,1250,0,161.0,31.0,192
11,139441,Photo,3,12,7,9,1.0,13720,24137,537,...,4258,4100,4540,37849,18952,3798,0,233.0,19.0,252
12,139441,Photo,3,12,6,10,0.0,4694,8668,280,...,177,113,154,2812,1503,132,0,66.0,14.0,80
13,139441,Photo,3,12,6,10,0.0,4694,8668,280,...,1530,1407,1692,15220,7912,1250,0,161.0,31.0,192
14,139441,Photo,3,12,6,10,0.0,4694,8668,280,...,4258,4100,4540,37849,18952,3798,0,233.0,19.0,252

In [30]:
#Sort data of subsets 
sort_data= conc.sort_values(by="Category")
sort_data

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
5,139441,Status,2,12,1,9,0.0,10472,20849,1191,1073,1389,16034,7852,1016,1,152.0,33.0,186
8,139441,Status,2,12,7,3,0.0,11844,22538,1530,1407,1692,15220,7912,1250,0,161.0,31.0,192
10,139441,Status,2,12,5,10,0.0,21744,42334,4258,4100,4540,37849,18952,3798,0,233.0,19.0,252
7,139441,Photo,3,12,7,9,1.0,13720,24137,537,232,305,19728,11056,422,0,325.0,14.0,339
9,139441,Photo,3,12,6,10,0.0,4694,8668,280,183,250,4309,2324,199,3,113.0,26.0,142
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80

In [32]:
#Transpose dataframe : 
# you can use the transpose() function or the .T attribute to transpose a DataFrame, which essentially flips the rows and columns.
# This operation converts the columns into rows and vice versa

trans= sort_data.transpose()
trans

,1,4,5,8,10,7,9,2
Page total likes,139441,139441,139441,139441,139441,139441,139441,139441
Type,Status,Photo,Status,Status,Status,Photo,Photo,Photo
Category,2,2,2,2,2,3,3,3
Post Month,12,12,12,12,12,12,12,12
Post Weekday,3,2,1,7,5,7,6,3
Post Hour,10,3,9,3,10,9,10,3
Paid,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
Lifetime Post Total Reach,10460,7244,10472,11844,21744,13720,4694,2413
Lifetime Post Total Impressions,19057,13594,20849,22538,42334,24137,8668,4373
Lifetime Engaged Users,1457,671,1191,1530,4258,537,280,177
Lifetime Post Consumers,1361,410,1073,1407,4100,232,183,113
Lifetime Post Consumptions,1674,580,1389,1692,4540,305,250,154
Lifetime Post Impressions by people who have liked your Page,11710,6228,16034,15220,37849,19728,4309,2812
Lifetime Post reach by people who like your Page,6112,3200,7852,7912,18952,11056,2324,1503
Lifetime People who have liked your Page and engaged with your post,1108,396,1016,1250,3798,422,199,132
comment,5,19,1,0,0,0,3,0
like,130.0,325.0,152.0,161.0,233.0,325.0,113.0,66.0
share,29.0,49.0,33.0,31.0,19.0,14.0,26.0,14.0
Total Interactions,164,393,186,192,252,339,142,80

In [36]:
# The resulting melted_df DataFrame is reshaped, 
# where each row represents a unique combination of student name, subject, and score.
# specifies the columns to be melted using the value_vars parameter. the columns to be melted are "Category" and "Post Month". 
# The id_vars parameter is set to "Type" to keep the "Type" column fixed and unchanged

reshape_data= pd.melt(sort_data,id_vars="Type",value_vars=["Category","Post Month"])
reshape_data

      Type    variable  value
0   Status    Category      2
1    Photo    Category      2
2   Status    Category      2
3   Status    Category      2
4   Status    Category      2
5    Photo    Category      3
6    Photo    Category      3
7    Photo    Category      3
8   Status  Post Month     12
9    Photo  Post Month     12
10  Status  Post Month     12
11  Status  Post Month     12
12  Status  Post Month     12
13   Photo  Post Month     12
14   Photo  Post Month     12
15   Photo  Post Month     12